@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    font-family: 'Montserrat', sans-serif;
    @apply font-normal text-base text-primary bg-primary;
}

body{
    padding-top: 6.3rem;
}

h1, h2, h3, h4, h5, h6{
    @apply font-semibold;
    font-family: 'Montserrat', sans-serif;
}

h1{
    @apply text-3xl;
}

h1.title{
    font-size: 34px;
}

h2{
    @apply text-2xl;
}

h3{
    @apply text-xl;
}

h4{
    @apply text-lg;
}

h5{
    @apply text-base;
}

@media screen and (max-width: 767px){
    h1.title{
        font-size: 28px;
    }

    h1{
        @apply text-2xl;
    }

    h2{
        @apply text-xl;
    }

    h3{
        @apply text-lg;
    }

    h4{
        @apply text-base;
    }

    h5{
        @apply text-sm;
    }
}

.container{
    max-width: 1200px;
    @apply mx-auto px-3;
}

.website_header{
    @apply fixed top-0 left-0 right-0 flex justify-between items-center py-4 shadow z-50 border-t-4 border-secondary bg-white;
}

.website_header .container{
    @apply flex justify-between items-center;
}

.website_header .container nav{
    @apply items-center space-x-6;
}
.website_header .container nav a{
    @apply font-semibold text-sm text-primary relative;
}

.website_header .container nav a.active:before{
    @apply absolute left-0 w-full h-1 bg-secondary;
    bottom: -31px;
    content: '';
}

.website_logo{
    width: 205px;
    max-width: 205px;
    @apply h-auto;
}

@media screen and (max-width: 640px){
    .website_logo{
        width: 150px;
        max-width: 150px;
        @apply h-auto;
    }   
}

.website_footer{
    @apply bg-primary pb-10 md:pb-20 relative;
}

.website_footer_curves{
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 100%;
    position: absolute;
    bottom: calc(100% - 1px);
    left: 0;
    right: 0;
    z-index: 1;
}

@media screen and (max-width: 767px){
    .website_footer_curves{
        height: 100px;
        bottom: calc(100% - 1px);
    }
}

.website_footer_logo{
    width: 150px;
    @apply h-auto;
}

.website_footer > .container{
    @apply relative z-10;
}

.btn{
    @apply border-2 rounded px-6 py-2 font-semibold text-sm inline-block;
}

.btn-primary{
    @apply text-primary border-secondary;
}

.btn-primary:hover{
    @apply bg-secondary text-white;
}

.full_bg_section{
    @apply w-full h-full absolute top-0 left-0 bg-primary bg-cover bg-no-repeat bg-center;
}

.full_bg_section:before{
    @apply absolute top-0 left-0 bottom-0 w-full h-full bg-primary opacity-25;
    content: '';
}

@media screen and (max-width: 767px){
    .full_bg_section{
        @apply relative;
        height: 40vh;
    }
}

.slider_control{
    @apply w-10 h-10 bg-white rounded-md shadow-lg flex justify-center items-center text-primary text-xs;
}
.slider_control:hover{
    @apply bg-secondary text-white;
}

.section_divider{
    @apply w-full py-10;
}

@media screen and (max-width: 767px){
    .section_divider{
        @apply py-6;
    }
}

.slider_bg_block{
    @apply absolute bg-primary top-0 right-0 w-6/12 h-full rounded-l-lg bg-cover bg-repeat bg-center overflow-hidden;
}

@media screen and (max-width: 767px){
    .slider_bg_block{
        @apply w-full h-48 rounded-none top-auto bottom-20
    }
}

.slider_bg_block:before{
    @apply absolute top-0 left-0 bottom-0 w-full h-full bg-primary opacity-50;
    content: '';
}

.slide_item{
    height: 380px;
    @apply w-full flex flex-col justify-end items-end p-10 bg-cover bg-no-repeat bg-center;
}
.slide_item:before{
    @apply absolute top-0 left-0 bottom-0 w-full h-full bg-primary opacity-25;
    content: '';
}

@media screen and (max-width: 767px){
    .slide_item{
        height: 300px;
        @apply p-6;
    }
}

.slide_item > div{
    @apply relative z-10;
}

.partner-logo{
    @apply w-full h-auto rounded;
}
.team_member_avatar{
    @apply w-full h-48 bg-gray-100 rounded bg-cover bg-no-repeat bg-center;
}
.team-member-card{
    @apply p-4 block;
    transition: all 0.2s ease-in-out;
}
.team-member-card:hover{
    @apply bg-white rounded shadow-md;
}

.mobileMenu{
    @apply fixed top-0 left-0 right-0 bottom-0 w-full h-full bg-white z-50 overflow-y-auto flex items-start flex-col space-y-16 p-10;
}

.mobileMenu nav{
    @apply flex flex-col items-center w-full;
}

.mobileMenu nav a{
    @apply font-semibold text-lg py-4 text-primary block w-full border-b-2 border-secondary hover:border-secondary;
}

.form-group{
    @apply mb-7;
}

.form-control{
    @apply border-2 rounded px-6 py-2 font-semibold text-sm inline-block w-full;
}

.article_card{
    @apply flex flex-col bg-white rounded shadow-md overflow-hidden h-full;
    transition: all 0.2s ease-in-out;
}

.article_card_image{
    @apply w-full h-56 bg-gray-100 rounded-t bg-cover bg-no-repeat bg-center overflow-hidden;
}

.article_card_content{
    @apply p-6;
}

.table-responsive{
    @apply overflow-x-auto;
}

.table{
    @apply w-full text-left border-collapse;
}

.table thead th{
    @apply px-6 py-4 text-sm font-semibold text-primary border-b-2 border-secondary;
}

.table tbody td{
    @apply px-6 py-4 text-sm text-primary border-b;
}

label{
    @apply text-secondary text-sm font-bold;
}